<nav>
{% spaceless %}
{% with current_view_name=view.request.resolver_match.view_name %}
    {% if request.user.is_authenticated %}
    <div class="list-group mb-3">
{#  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">#}
{#    The current link item#}
{#  </a>#}
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:author_list' %} active{% endif %}" href="{% url 'blog:author_list' %}">Authors</a>
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:blog_list' %} active{% endif %}" href="{% url 'blog:blog_list' %}">Blogs</a>
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:entry_list' %} active{% endif %}" href="{% url 'blog:entry_list' %}">Entries</a>
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:entrytext_list' %} active{% endif %}" href="{% url 'blog:entrytext_list' %}">Texts of entries</a>
    </div>
    {% endif %}
    <div class="list-group mb-3">
        {% if not request.user.is_authenticated %}
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:password_reset' %} active{% endif %}" href="{% url 'blog:password_reset' %}">Reset password</a>
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:user_registration' %} active{% endif %}" href="{% url 'blog:user_registration' %}">Registration</a>
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:login' %} active{% endif %}" href="{% url 'blog:login' %}">Log in</a>
        {% else %}
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:profile_update' %} active{% endif %}" href="{% url 'blog:profile_update' %}">Profile</a>
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:password_change' %} active{% endif %}" href="{% url 'blog:password_change' %}">Change password</a>
        <a class="list-group-item list-group-item-action{% if current_view_name == 'blog:logout' %} active{% endif %}" href="{% url 'blog:logout' %}">Log out</a>
        {% endif %}
    </div>
{% endwith %}
{% endspaceless %}
</nav>
